<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>CRM</title>
        <link rel="stylesheet" href="/static/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="refresh" content="0; url=/login" />
        <link rel="canonical" href="/login" />
        <style>
            body {
                visibility: hidden;
            }
        </style>
        <noscript>
            <meta http-equiv="refresh" content="0; url=/login" />
        </noscript>
    </head>
    <body></body>
</html>
