<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>Регистрация</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="/login">Вход</a>
            </nav>
        </header>

        <main>
            <h2>Регистрация нового пользователя</h2>
            {{if .error}}
            <p style="color: red">{{.error}}</p>
            {{end}}
            <form method="post" action="/register">
                <input
                    type="text"
                    name="username"
                    placeholder="Логин"
                    required
                /><br /><br />
                <input
                    type="password"
                    name="password"
                    placeholder="Пароль"
                    required
                /><br /><br />
                <button type="submit">Зарегистрироваться</button>
            </form>
        </main>

        <footer>
            <hr />
            <p>CRM © 2025</p>
        </footer>
    </body>
</html>
